doctype 5
html(lang="en")
  head
    meta(name='viewport',content='width=device-width,initial-scale=1,maximum-scale=1')
    style
        canvas, span {
            display: block;
        }
  body
    script(type='text/javascript',src='require.js',data-main='client')